doctype html(lang='en')
head
  meta(charset='UTF-8')
  title PhoneDemo 
  link(rel='stylesheet', href='./style.css')
body
// partial:index.partial.html
.phone
  .top
    .camera
  .screen
    .pages
      .page.page1
        h2 首頁
        .img
      .page.page2
        h2 page2
      .page.page3
        h2 page3
  .bottom
    .button ☐
h3.status The "Best" iphone we've ever made!
h2.phonename iphone5
.buttons
  button.i5 iphone5
  button.i5s iphone5s
  button.i6 iphone6
  button.i6s iphone6s
  button.wiggle wiggle
  button.turn turn around
// partial
script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js')
script(src='./script.js')
